* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(243, 243, 243);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.devgram-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 60%;
  height: 100vh;
}

/*phones*/

.devgram-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  padding-left: 50px;
}

.devgram-phone img {
  margin-right: 20%;
  width: 100%;
}

.devgram-continues {
  display: flex;
  align-items: center;  /*Horizontal*/
  justify-content: space-around;  /*Vertical*/
  flex-direction: column;
  width: 50%;
  min-height: 34rem;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #fffafa;
  width: 100%;
  padding: 1.3rem 0;
  border: 1px solid #d3d3d3;
}

.group:nth-child(1) {
  min-height: 25rem;
}

.devgram-soon {
  height: 2.5rem;
}

.profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}
.profile-photo img {
  height: 100px;
  width: 100px;
}

.devgram-login {
  background-color: #0005e6;
  color: #c5c1c1;
  padding: 11px;
  border-radius: 50px;
  align-items: center;
  text-align: center;
}

.devgram-logout {
  color: #0005e6;
  margin-top: 1rem;
}

.not-accont {
  color: #d3d3d3;
}

.link-blue {
  color: #0005e6;
}

.get-the-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.3rem 0;
}

.download {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

.app-download {
  height: 3rem;
  width: 10rem;
  background-size: cover;
}

.app-download:nth-child(1) {
  background-image: url(/assets/img/apple-button.png);
}

.app-download:nth-child(2) {
  background-image: url(/assets/img/googleplay-button.png);
}

/*media queries*/

@media (max-width: 1000px) {
  body {
    background-color: #d3d3d3;
  }
  .devgram-wrapper {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .devgram-wrapper {
    width: 100%;
  }

  .devgram-phone {
    display: none;
  }

  .devgram-continue {
    width: 100%;
  }
  .group {
    border: 1px solid transparent;
  }
}
